@{
    ViewData["Title"] = "Home Page";
}

<form method="post" action="/Home/CreateCheckoutSession">
    <!-- Form fields -->
    <div>
        <lable for="name">Amount</lable>
        <input type="text" id="amount" name="amount" value="" />
    </div>

    <!-- Submit button -->
    <button type="submit">Checkout</button>
</form>



